<div class="container mx-auto">
  <h1 class="text-2xl font-bold mb-4">Suivi des Habitudes</h1>

  <table class="table-auto w-full">
    <thead>
      <tr>
        <th>Habitude</th>
        <th>Suivi aujourd'hui</th>
      </tr>
    </thead>
    <tbody>
      <% @habits.each do |habit| %>
        <tr>
          <td><%= habit.name %></td>
          <td>
            <%= form_with url: toggle_check_path(habit), method: :patch, local: true do %>
              <%= submit_tag habit.habit_checks.exists?(date: Date.today) ? "Décocher" : "Cocher", class: habit.habit_checks.exists?(date: Date.today) ? "text-red-500" : "text-green-500" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Ajouter une habitude', new_habit_path, class: "mt-4 inline-block bg-blue-500 text-white px-4 py-2 rounded-lg" %>
</div>
